<%= form_for @new_upload do |form| %>
  <%= form.file_field :image %>
  <%= form.text_area :text, placeholder: "Enter some text..." %>
  <%= form.submit "upload image" %>
<% end %>

<br />

<% @uploads.each do |upload| %>
  <% if upload.image.representable? %>
    <%= render_image(upload) %>
    <p><%= upload.text %></p>
    <br />
  <% else %>
    The file you have uploaded is not an image.
  <% end %>
<% end %>
<% if @uploads.empty? %>
  No uploads to display
<% end %>
